@media(max-width: 614px){
    body{
    }
    header{
        height: 80px;
        margin-left: 22px;
        margin-right: 22px;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 44px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid black; */
    }
    main{
        margin-left: 8px;
        text-align: left;
        margin-top: 90px;
    }
    footer{
        height: 80px;
        width: calc(100% - 44px);
        margin-left: 22px;
        margin-right: 22px;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        bottom: 0;
        left: 0;
        /* border: 1px solid black; */
    }   
}
